<h1>Songs#show</h1>

<p>Title: <%= @song.title %><p>
<p>Artist: <%= @song.artist_name %><p>
<p>Genre: <%= @song.genre.name %><p>
<% @song.notes.map do |s| %>
  <p>Notes: <%= s.content %> <p>
  <%end%>


